@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}
::-webkit-scrollbar {
  width: 20px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  opacity: 0;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
button {
  border: none;
  background-color: transparent;
}

.txt-ac {
  text-align: center;
}

// FLEX BOX
.df {
  display: flex;
}

.jc-c {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}
.jc-se {
  justify-content: space-evenly;
}
.jc-fe {
  justify-content: flex-end;
}
.ai-c {
  align-items: center;
}
.ai-sh {
  align-items: stretch;
}
.fd-c {
  flex-direction: column;
}

.fw-w {
  flex-wrap: wrap;
}

// DISPLAY GRID

.dg {
  display: grid;
}

// GRID TEPLATE COLUMNS
.g-col-1 {
  grid-template-columns: 1fr;
}
.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.g-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

// GRID ALIGNMENT
.g-ji-c {
  justify-items: center;
}

.g-ai-c {
  align-items: center;
}

// GRID GAP
.g-gap-sm {
  gap: 3em 5em;
}
.g-gap-md {
  gap: 5em 7em;
}
.g-gap-lg {
  gap: 6em 8em;
}
