.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: $white;
  box-shadow: $smoothShadow;
  width: 100%;
  padding: 1.2em 0em;

  &__nav {
    width: 90%;
    margin: 0 auto;
    @include breakpoint-down(small) {
      display: none;
    }
    a {
      margin: 0 10px;
      height: 100%;
    }
    &--active {
      color: $green;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        bottom: -1.5em;
        background-color: $green;
        height: 2px;
        width: 100%;
      }
    }
    &--left {
      flex: 1;
      height: 100%;
    }
    &--mid {
      flex: 1;
      svg {
        font-size: $font-lg;
        color: $green;
      }
    }
    &--right {
      flex: 1;
    }
    &--cart {
      position: relative;
      svg {
        font-size: $font-md;
      }
      span {
        position: absolute;
        left: 20px;
        bottom: 14px;
        text-align: center;
        background-color: $smoothBlack;
        color: $white;
        border-radius: 50%;
        font-size: $font-xs;
        padding: 2px 5px;
      }
      &:hover {
        .header__nav--cart--preview {
          opacity: 1;
          visibility: visible;
          top: 3.2em;
        }
      }
      &--preview {
        position: absolute;
        right: 0em;
        top: 3em;
        width: 20em;
        padding: 1em;
        background-color: red;
        background-color: $white;
        box-shadow: $smoothShadow;
        height: auto;
        opacity: 0;
        transition: 0.2s ease-in;
        visibility: hidden;
        cursor: pointer;
        &__btns {
          margin-top: 20px;
        }
        @include breakpoint-down(medium) {
          display: none;
        }
      }
    }
  }
}
