.home {
  width: 89%;
  margin: 0 auto;
  &__inner {
    margin-top: 3em;
  }
  h1 {
    font-size: $font-xl;
    font-weight: 200;
  }
  &__products--container {
    margin: 3em 0;
    gap: 5em;
    @include breakpoint-down(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 3em 5em;
    }
    @include breakpoint-down(small) {
      grid-template-columns: 1fr;
    }
  }
}
