//colors
$green: #5ece7b;
$disabled: #275834;
$smoothBlack: #1d1f22;
$lightGray: #f3f3f3;
$darkGray: #727272;
$white: #fff;
$danger: #bb2124;
//font-sizes
$font-xs: 0.8em;
$font-sm: 1em;
$font-md: 1.2em;
$font-lg: 1.4em;
$font-xl: 1.8em;

// Shadows
$smoothShadow: (0 3px 30px 0 $lightGray);
