//colors
$green: #5ece7b;
$smoothBlack: #1d1f22;
$lightGray: #e4e4e4;
$white: #fff;
//font-sizes
$font-sm: 1.2em;
$font-md: 1.4em;
$font-lg: 1.6em;

// Shadows
$smoothShadow: (0 0 25px 0 $lightGray);
