@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

::-webkit-scrollbar {
  width: 20px;
  opacity: 0;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  opacity: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

.txt-ac {
  text-align: center;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-sh {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dg {
  display: -ms-grid;
  display: grid;
}

.g-col-1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.g-col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.g-col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.g-ji-c {
  justify-items: center;
}

.g-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g-gap-sm {
  gap: 3em 5em;
}

.g-gap-md {
  gap: 5em 7em;
}

.g-gap-lg {
  gap: 6em 8em;
}

@media (max-width: 63.9375em) {
  .attribute__items {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.currency-card {
  position: relative;
  font-size: 0.8em;
  margin-right: 1em;
  cursor: pointer;
}

.currency-card:hover .currency-card__data--list {
  visibility: visible;
  opacity: 1;
  top: 3.3em;
}

.currency-card:hover svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.currency-card__data {
  display: block;
  margin: 1.3em 0;
}

.currency-card__data--list {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  background-color: white;
  -webkit-box-shadow: 0 3px 30px 0 #f3f3f3;
          box-shadow: 0 3px 30px 0 #f3f3f3;
  list-style: none;
  width: 4em;
  top: 1.6em;
  right: 0;
  padding: 0 1.2em;
  text-align: center;
}

.currency-card__data:hover {
  color: #5ece7b;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 30px 0 #f3f3f3;
          box-shadow: 0 3px 30px 0 #f3f3f3;
  width: 100%;
  padding: 1.2em 0em;
}

.header__nav {
  width: 90%;
  margin: 0 auto;
}

.header__nav a {
  margin: 0 10px;
  height: 100%;
}

@media (max-width: 63.9375em) {
  .header__nav a {
    font-size: 0.8em;
  }
}

.header__nav--active {
  color: #5ece7b;
  position: relative;
}

.header__nav--active::before {
  content: "";
  position: absolute;
  bottom: -1.5em;
  background-color: #5ece7b;
  height: 2px;
  width: 100%;
}

@media (max-width: 63.9375em) {
  .header__nav--active::before {
    display: none;
  }
}

.header__nav--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.header__nav--mid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 63.9375em) {
  .header__nav--mid {
    display: none;
  }
}

.header__nav--mid svg {
  font-size: 1.4em;
  color: #5ece7b;
}

.header__nav--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__nav--cart {
  position: relative;
}

.header__nav--cart svg {
  font-size: 1.2em;
}

.header__nav--cart span {
  position: absolute;
  left: 20px;
  bottom: 14px;
  text-align: center;
  background-color: #1d1f22;
  color: #fff;
  border-radius: 50%;
  font-size: 0.8em;
  padding: 2px 5px;
}

.header__nav--cart:hover .header__nav--cart--preview {
  opacity: 1;
  visibility: visible;
  top: 3.2em;
}

.header__nav--cart--preview {
  position: absolute;
  right: 0em;
  top: 3em;
  width: 22em;
  min-height: auto;
  max-height: 38vw;
  padding: 1em;
  background-color: red;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 30px 0 #f3f3f3;
          box-shadow: 0 3px 30px 0 #f3f3f3;
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  visibility: hidden;
  cursor: pointer;
}

.header__nav--cart--preview__btns {
  margin-top: 20px;
}

@media (max-width: 63.9375em) {
  .header__nav--cart--preview {
    display: none;
  }
}

.cart {
  width: 100%;
  height: 100%;
}

.cart-product-card {
  width: 90%;
  margin: 20px auto;
}

.cart-product-card--sm img {
  width: 6.25em;
  height: 6.25em;
  -o-object-fit: contain;
     object-fit: contain;
}

.cart-product-card--sm p:nth-child(n + 1) {
  margin: 0.3em 0;
}

.cart-product-card--lg {
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  width: 70%;
  margin-left: 5%;
}

@media (max-width: 39.9375em) {
  .cart-product-card--lg {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.cart-product-card--lg p {
  font-size: 1.4em;
  font-weight: 300;
}

.cart-product-card--lg p:nth-child(2) {
  font-weight: 100;
}

.cart-product-card--lg p:nth-child(n + 1) {
  margin: 0.4em 0;
}

.cart-product-card--lg img {
  width: 14em;
  height: 14em;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 1em;
}

.product-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 1.3em;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 0px 1.1px 2.7px rgba(0, 0, 0, 0.003), 0px 2.8px 6.9px rgba(0, 0, 0, 0.004), 0px 5.7px 14.2px rgba(0, 0, 0, 0.006), 0px 11.7px 29.2px rgba(0, 0, 0, 0.007), 0px 32px 80px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 1.1px 2.7px rgba(0, 0, 0, 0.003), 0px 2.8px 6.9px rgba(0, 0, 0, 0.004), 0px 5.7px 14.2px rgba(0, 0, 0, 0.006), 0px 11.7px 29.2px rgba(0, 0, 0, 0.007), 0px 32px 80px rgba(0, 0, 0, 0.01);
}

.product-card:hover {
  -webkit-box-shadow: 0 3px 30px 0 #f3f3f3;
          box-shadow: 0 3px 30px 0 #f3f3f3;
}

.product-card:hover svg {
  right: 1.1em;
  bottom: 1.5em;
}

.product-card svg {
  font-size: 1.2em;
  position: absolute;
  bottom: -100%;
  right: 1.1em;
  background-color: #5ece7b;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  padding: 10px;
}

.product-card__top--img {
  width: 100%;
  height: 100%;
}

.product-card__top--img img {
  width: 100%;
  height: 14em;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card__footer {
  font-size: 1em;
}

.product-card__footer small {
  display: block;
}

.product-card__footer p {
  color: #727272;
  margin: 0.7em 0;
}

.out-of-stock::before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8em;
  font-weight: 300;
  width: 100%;
  height: 100%;
  content: "OUT OF STOCK";
  color: #1d1f22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e6e6;
  opacity: 0.6;
}

.gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 37.5em;
}

@media (max-width: 39.9375em) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.gallery img {
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery__previews {
  height: 400px;
  width: 7em;
  padding: 0 20px;
  overflow: hidden;
  scrollbar-width: auto;
  scrollbar-color: #d1d1d1 #ffffff;
}

@media (max-width: 63.9375em) {
  .gallery__previews {
    overflow-x: scroll;
    height: 150px;
    width: 11em;
  }
}

.gallery__previews:hover {
  overflow-y: auto;
}

.gallery__previews::-webkit-scrollbar {
  width: 20px;
  opacity: 0;
}

.gallery__previews::-webkit-scrollbar-track {
  background-color: transparent;
  margin-bottom: 50px;
}

.gallery__previews::-webkit-scrollbar-thumb {
  background-color: #e9e9e9;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  opacity: 0;
}

@media (max-width: 39.9375em) {
  .gallery__previews {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.gallery__preview {
  width: 6.5em;
  height: 6.5em;
  cursor: pointer;
  margin: 10px;
}

.gallery__main {
  width: 20em;
  height: 20em;
}

.product-detail {
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 39.9375em) {
  .product-detail {
    width: 100%;
  }
}

.product-detail__inner {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 23em;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #d3d3d3 #ffffff;
}

@media (max-width: 63.9375em) {
  .product-detail__inner {
    overflow: initial;
    text-align: center;
  }
}

.product-detail__inner h2 {
  font-size: 1.8em;
  font-weight: 400;
  margin: 10px 0;
}

.product-detail__inner p {
  font-size: 1.8em;
  font-weight: 100;
}

.product-detail__inner dl {
  margin-top: 2em;
  width: 90%;
  color: #1d1f22;
}

.product-detail__inner dl p,
.product-detail__inner dl li {
  font-size: 1em;
  margin: 1em 0;
}

.product-detail__inner--price {
  margin: 1em 0;
}

.product-detail__inner--price h3 {
  margin: 1em 0;
}

.product-detail__attributes {
  margin: 2em 0;
}

.product-detail__attributes p {
  font-size: 1.2em;
  margin-top: 1em;
}

.product-detail__attributes--btns {
  margin: 1em 0;
}

.spinner {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.spinner__inner {
  width: 30px;
  height: 30px;
  border: 5px solid #5ece7b;
  border-right: 5px solid transparent;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

.layout {
  overflow-x: hidden;
}

.layout__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.6em 0;
}

.add-cta, .view-bag-cta, .check-out-cta {
  cursor: pointer;
  background-color: #5ece7b;
  color: #fff;
  border: none;
  padding: 0.7em 4em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.add-cta__passive {
  opacity: 0.7;
  background-color: #275834;
  cursor: not-allowed;
}

.add-cta:hover, .view-bag-cta:hover, .check-out-cta:hover {
  opacity: 0.7;
}

.attribute-cta__swatch {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #1d1f22;
  margin-right: 0.4em;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.attribute-cta__swatch--choosen {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.attribute-cta__swatch--md {
  width: 23px;
  height: 23px;
}

.attribute-cta__text {
  width: 4.1em;
  height: 2em;
  background-color: #fff;
  color: #1d1f22;
  margin-right: 0.4em;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.attribute-cta__text--choosen {
  background-color: #1d1f22;
  color: #fff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.attribute-cta__text--md {
  min-width: 2em;
  height: 1.9em;
  font-size: 0.65em;
}

.attribute-cta__text:hover {
  background-color: #1d1f22;
  color: #fff;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.view-bag-cta {
  padding: 0.7em 2.5em;
  background-color: #fff;
  color: #1d1f22;
  border: 1px solid #1d1f22;
}

.view-bag-cta:hover {
  background-color: #1d1f22;
  color: #fff;
}

.check-out-cta {
  padding: 0.7em 2.5em;
}

.count-cta {
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  border: 1px solid #1d1f22;
}

.count-cta:hover {
  background-color: #1d1f22;
  color: #fff;
}

.count-cta--lg {
  width: 2em;
  height: 2em;
}

.home {
  width: 89%;
  margin: 0 auto;
}

.home__inner {
  margin-top: 3em;
}

.home h1 {
  font-size: 1.8em;
  font-weight: 200;
}

.home__products--container {
  margin: 3em 0;
  gap: 5em;
}

@media (max-width: 63.9375em) {
  .home__products--container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 3em 5em;
  }
}

@media (max-width: 39.9375em) {
  .home__products--container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.error {
  position: absolute;
  width: auto;
  padding: 10px;
  background-color: #bb2124;
  opacity: 0;
  color: white;
  top: 0em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0s;
  transition: 0s;
}

.error__active {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  top: 5em;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */