@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #000;
}

.txt-ac {
  text-align: center;
}

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai-sh {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fw-w {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 #f3f3f3;
          box-shadow: 0 0 30px 0 #f3f3f3;
  width: 100%;
  padding: 1.2em 0em;
}

.header__nav {
  width: 90%;
  margin: 0 auto;
}

.header__nav a {
  margin: 0 10px;
  height: 100%;
}

.header__nav--active {
  color: #5ece7b;
  position: relative;
}

.header__nav--active::before {
  content: "";
  position: absolute;
  bottom: -1.5em;
  background-color: #5ece7b;
  height: 2px;
  width: 100%;
}

.header__nav--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.header__nav--mid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__nav--mid svg {
  font-size: 1.4em;
  color: #5ece7b;
}

.header__nav--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header__nav--cart {
  position: relative;
}

.header__nav--cart svg {
  font-size: 1.2em;
}

.header__nav--cart span {
  position: absolute;
  left: 10px;
  bottom: 14px;
  text-align: center;
  background-color: #1d1f22;
  color: #fff;
  border-radius: 50%;
  font-size: 0.8em;
  padding: 2px 5px;
}

.header__nav--cart:hover .header__nav--cart--preview {
  opacity: 1;
  visibility: visible;
}

.header__nav--cart--preview {
  position: absolute;
  right: 0em;
  width: 10em;
  background-color: #fff;
  -webkit-box-shadow: 0 0 30px 0 #f3f3f3;
          box-shadow: 0 0 30px 0 #f3f3f3;
  height: 10em;
  opacity: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  visibility: hidden;
  cursor: pointer;
}

.layout__footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.6em 0;
}

.product-card {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  margin: 4em 0;
  width: 300px;
  height: 300px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 0px 1.1px 2.7px rgba(0, 0, 0, 0.003), 0px 2.8px 6.9px rgba(0, 0, 0, 0.004), 0px 5.7px 14.2px rgba(0, 0, 0, 0.006), 0px 11.7px 29.2px rgba(0, 0, 0, 0.007), 0px 32px 80px rgba(0, 0, 0, 0.01);
          box-shadow: 0px 1.1px 2.7px rgba(0, 0, 0, 0.003), 0px 2.8px 6.9px rgba(0, 0, 0, 0.004), 0px 5.7px 14.2px rgba(0, 0, 0, 0.006), 0px 11.7px 29.2px rgba(0, 0, 0, 0.007), 0px 32px 80px rgba(0, 0, 0, 0.01);
}

.product-card:hover {
  -webkit-box-shadow: 0 0 30px 0 #f3f3f3;
          box-shadow: 0 0 30px 0 #f3f3f3;
}

.product-card:hover svg {
  right: 1.1em;
  bottom: 1.5em;
}

.product-card svg {
  font-size: 1.2em;
  position: absolute;
  bottom: -100%;
  right: 1.1em;
  background-color: #5ece7b;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  padding: 10px;
}

.product-card__top--img {
  width: 100%;
  height: 100%;
}

.product-card__top--img img {
  width: 100%;
  height: 14em;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-card__footer {
  font-size: 1em;
}

.product-card__footer small {
  display: block;
}

.product-card__footer p {
  color: #727272;
  margin: 0.7em 0;
}

.spinner {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}

.spinner__inner {
  width: 70px;
  height: 70px;
  border: 20px solid #5ece7b;
  border-right: 20px solid transparent;
  -webkit-animation: spin 1s infinite;
          animation: spin 1s infinite;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

.out-of-stock::before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.8em;
  font-weight: 300;
  width: 100%;
  height: 100%;
  content: "OUT OF STOCK";
  color: #1d1f22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e6e6e6;
  opacity: 0.6;
}

.home {
  width: 89%;
  margin: 0 auto;
}

.home__inner {
  margin-top: 3em;
}

.home h1 {
  font-size: 1.8em;
  font-weight: 200;
}

.gallery {
  width: 500px;
  height: 600px;
}

.gallery img {
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery__preview {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.gallery__main {
  width: 400px;
  height: 400px;
}
/*# sourceMappingURL=style.css.map */